.venv/
__pycache__/
.pytest_cache/
*.pyc
streamlit.log
streamlit.err.log
data/cache/
cloudflared.exe
worldcup-2026-analysis-deploy-*/
*.zip

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
